@model IEnumerable<Dsana.Models.DTask>;
@using Dsana.Models.Enums;

<div class="col-md-12 col">
    <div class="mt-5 bg-secondary">
        <div class="card m-1 p-2">
            <div class="header">
                <h2>Tasks</h2>
            </div>
            <div class="body">
               <div class="table-responsive" style="overflow-y:auto;height:600px;">
                  <table class="table table-hover">
                      <thead class="">
                         <tr>
                            @* Table header *@
                            <th>Title</th>
                            <th>Developer</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* Table body *@
                        @foreach (var dtask in Model.OrderByDescending(d => d.Created))
                        {
                            <tr>
                                <td><a asp-action="Details" asp-controller="DTasks" asp-route-id="@dtask.Id" style="color:black"><strong>@dtask.Title</strong></a> </td>
                                <td>
                                    @if (dtask.DeveloperUserId != null)
                                    {
                                        @dtask.DeveloperUser?.FullName
                                    }
                                    else
                                    {
                                        if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                        {
                                            <a class="btn btn-xs btn-info" asp-action="AssignDeveloper" asp-controller="DTasks" asp-route-id="@dtask.Id">Assign</a>
                                        }

                                    }
                                </td>
                                @if (dtask.DTaskStatus.Name == "New")
                                {
                                    <td><span class="badge-success">@dtask.DTaskStatus.Name </span></td>

                                }
                                else
                                {
                                    <td><span class="badge-primary">@dtask.DTaskStatus.Name </span></td>
                                }
                                <td><span class="badge-warning">@dtask.DTaskPriority.Name </span></td>
                                <td>@dtask.Created.ToString("MM-dd-yyyy")</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="DTasks" asp-route-id="@dtask.Id"><i class="fs-5 bi-justify"></i></a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                  </table>
               </div>

            </div>
        </div>
    </div>
</div>