@model IEnumerable<Dsana.Models.ViewModels.ManageUserRolesViewModel>


<div class="row">
    <h2 class="m-t-0 h3"><b>Manage Member Roles </b></h2>
    @foreach (var member in Model)
    {
        <div class="row">
            <div class="card col-4 m-3">
                <div class="card-body">
                    <p class="font-13 m-b-30">
                        Current roles assigned to : <strong class="text-info">@member.DSUser.FullName</strong>
                    </p>
                    <hr />
                    <form asp-action="ManageUserRoles" asp-controller="UserRoles" method=post>
                        <input type="hidden" asp-for="@member.DSUser.Id" />
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="@member.Roles" class="custom-label"> Roles for @member.DSUser.FullName</label>
                                    <select asp-for="@member.SelectedRoles" class="form-control" asp-items="@member.Roles" multiple>

                                    </select>
                                    <hr />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Assign Role" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>